.videos {
    padding: 4rem;
    background: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  
h1 {
    text-align: center;
    color: #000;
    font-size: 40px;
 }

.videos__container {
  display: flex;
  flex-flow: column;
  align-items: normal;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}
  
.videos__wrapper {
  position: relative;
  margin: 20px 0 45px;
}
  
.videos__items {
  margin-bottom: 10px;
  margin-top: 40px;
}
  
.videos__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}
  
.videos__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}
  
.videos__item__pic-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 67%;
  overflow: hidden;
}
  
.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.videos__item__vid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}
  
.videos__item__vid:hover {
  transform: scale(1.1);
}
  
.videos__item__info {
  padding: 20px 30px 30px;
}
  
.videos__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}
  
@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}
  
@media only screen and (min-width: 1024px) {
  .videos__items {
    display: flex;
  }
}
  
@media only screen and (max-width: 1024px) {
  .videos__item {
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 25px;
    }
}
  